{% extends 'home/base.html' %}

{% load static %}
{% load render_table from django_tables2 %}


{% block js_css %}
<!--<link rel="stylesheet" href="{% static 'home/css/table.css' %}">-->
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock js_css %}

{% block content %}
{% autoescape off %}{{ message }}{% endautoescape %}

<form action="" method="get">
    <!-- {% csrf_token %} -->
    {{ form.as_ul }}
    <input type="submit" value="Submit" />
</form>


{% if resultados%}
    {%render_table resultados%}
{%endif%}
{% endblock content %}
