{% extends 'home/base.html' %}

{% load static %}


{% block content %}

	<h1 style="padding: 10px; text-align: center"> Ready to do crazy baseball queries! </h1>

	<ul >
		<li >  Conoce a los <a href="{% url 'jugadores' %}"> Jugadores </a> </li>
		<li> Conoce a los <a href="{% url 'managers' %}"> Manager </a></li>
		<li> Conoce a los <a href="{% url 'jugadores' %}"> Equipos</a> </li>
		<li>  Realiza 5 consultas extrañas: <ul> 
			<li> Conoce a los compañeros de tu Jugador Favorito <a href="{% url 'consultas' 1%}"> Sapea! </a></li>
			<li> Sapea sueldos de los Campeones de Liga <a href="{% url 'consultas' 2 %}"> Sapea! </a></li>
			<li> <a href="{% url 'consultas' 3 %}"> SOON </a></li>
			<li> <a href="{% url 'consultas' 4 %}"> SOON </a></li>
			<li> <a href="{% url 'consultas' 5 %}"> SOON </a></li>

		</ul>
		</li>
	</ul>
	

	<!-- <p>chaitoasda.</p> -->
{% endblock content %}
